<!DOCTYPE html>
<html>
  <head>
    <title>Stuff Portfolio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" type="image/svg+xml" href="https://example.com/image.svg">
    
  </head>
  <body>
    <section class="top">
      
    </section>

    
    
  
    <div class="head-container">
      <h1 class="head-title">My Stuff Portfolio</h1>
      <h4 class="track">Track what you own</h4>
      <div class="google"></div>

      <ul class="right">
        <li>
        <% if (user) { %>
          <a class="google" href="/logout">Log Out from Google</a>
        <% } else { %>
          <a class="google" href="/auth/google">Login with Google</a>
        <% } %>
        </li>
      </ul>
      <% if (user) { %>
    <a href="/new"><button class="btn add">Add Item</button></a> 
    </div>     
    <div class="item-container">
      <h1 class="all-items">All Items</h1>
      <% items.forEach(item => { %>
        <div class="card mt-4">
          <h2 class="card-title"><%= item.name %> </h4>
        
       
            <h4><%= item.purchasePrice %> </h4>
          
          <div class="card-subtitle text-muted mb-2">
        
              <h5><%= item.purchaseDate.toLocaleDateString() %> </h5>
         

              <div class="button-box">
          <a  class="btn btn-secondary" href="/<%= item.id%>/comment">Item notes</a>   
          <a  class="btn edit" href="/<%= item.id%>/edit">Edit</a>  
          <form method="POST" action="/<%= item.id%>?_method=DELETE">
          </div> 
          <button class="btn btn-danger">
            Delete
          </button>
        </form>  
        

          </div>
        </div>
        <% }) %>
      </div>
        <% let totalValue = 0 %> 
        <% items.forEach(item => { %> 
          <%  totalValue += parseInt(item.purchasePrice.substring(1)) %>
          
          <% }) %> 
          <h3 class="total-value">Total Item Value:</h3>
          <h4>$<span id="sum"><%=(totalValue.toFixed(2)) %></span> in CAD </h4>

         <div><h4>
          <span>$</span><span id="convertedSum"> </span><span> in USD</span>
        </h4>
        </div>
          



          <!-- <button onclick="convertToUSD()">Convert to USD</button>
          <button onclick="convertToCAD()">Convert to CAD</button> -->
        </div>
        <section class="bottom">
    
        </section>
 
    <% } %>

    <script>
    
    //   https://api.exchangeratesapi.io/v1/convert
    // ? access_key = API_KEY
    // & from = GBP
    // & to = JPY
    // & amount = 25

    const baseAmount = parseInt(document.querySelector('#sum').innerHTML)
    let convertedAmount = document.querySelector('#convertedSum')

      console.log(document.querySelector('#sum').textContent)

    let convertedValue = function() {
      fetch(`http://api.exchangeratesapi.io/v1/convert?access_key=51a52e2b10142f3ee5d3343418351557&from=CAD&to=USD&amount=${baseAmount}`)
    .then(res=>res.json())
        .then(data => {
          console.log(data)
          convertedAmount.innerHTML = data.result.toFixed(2)
        
      })}
      
      convertedValue()
      
      // convertedAmount.innerHTML = data)

    </script>
  </body>
</html>


