<!DOCTYPE html>
<html>
  <head>
    <title>Stuff Portfolio</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" type="image/svg+xml" href="https://example.com/image.svg">
  </head>
  <body>
    <section class="top">
      <ul class="right">
        <li>
        <% if (user) { %>
          <a class="google" href="/logout">Log Out from Google</a>
        <% } else { %>
          <a class="google" href="/auth/google">Login with Google</a>
        <% } %>
        </li>
      </ul>
    </section>

    <div class="head-container">
      <h1 class="head-title">My Stuff Portfolio<span class="track">Track your physical items</span></h1>
      <% if (user) { %>
       <a href="/new"><button class="add-btn">Add Item</button></a> 
    </div>     

    <h1 class="all-items">All Items</h1>

    <div class="item-container">
      <% items.forEach(item => { %>
        <div class="card">
          <h2 class="card-title"><%= item.name %> <span class="money"><%= item.purchasePrice %> </span></h2>
          <h2 class="date"> <%= item.purchaseDate.toLocaleDateString() %></h2>
          
          <div class="button-box">
              <a href="/<%= item.id%>/comment"><button class="btn comment-btn">Notes</button></a>
              <a href="/<%= item.id%>/edit"><button class="btn edit-btn" >Edit</button></a>
              <form method="POST" action="/<%= item.id%>?_method=DELETE">
                <button class="btn danger-btn">Delete</button>
              </form>  
           </div> 
        </div>
        <% }) %>
    </div>
       
    <div class="bottom-container">
      <% let totalValue = 0 %> 
      <% items.forEach(item => { %> 
        <%  totalValue += parseInt(item.purchasePrice.substring(1)) %>
        
        <% }) %> 
        <h3 class="total-value">Total Item Price:</h3>
        <h4 class="sum top-sum">$<span id="sum"><%=(totalValue.toFixed(2)) %></span> in <span class="cad">CAD</span> </h4>

        <div>
          <h4 class="sum">
            <span>$</span><span id="convertedSum"> </span><span> in <span class="usd">USD</span></span>
        </h4>
      </div>
    </div>

    <section class="bottom">

    </section>
 
    <% } %>

    <script>

    const baseAmount = parseInt(document.querySelector('#sum').innerHTML)
    let convertedAmount = document.querySelector('#convertedSum')

    let convertedValue = function() {
      fetch(`http://api.exchangeratesapi.io/v1/convert?access_key=51a52e2b10142f3ee5d3343418351557&from=CAD&to=USD&amount=${baseAmount}`)
         .then(res=>res.json())
         .then(data => {
          console.log(data)
          convertedAmount.innerHTML = data.result.toFixed(2) 
      })}
      
    convertedValue()
      
    </script>
  </body>
</html>


